:root {
  --bg: rgb(47, 45, 56);
  --bg-accent: rgb(31, 31, 37);
  --text-color: rgb(245, 234, 210);
  --hover-color: #9fff80;
  --nav-size: 8.3rem;

  --border-radius: 8px;
  --speed: 500ms;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Roboto", sans-serif;
  outline: 0;
  font-size: 62.5%;
}

html{
  width: 100%
}


/* Super frikkin helpful with DEBUGGING...*/
/* * {
  outline: 1px solid #f00 !important;
} */