:root {
  --bg: rgb(47, 45, 56);
  --bg-accent: rgb(31, 31, 37);
  --text-color: rgb(245, 234, 210);
  --hover-color: #9fff80;
  --nav-size: 6.3rem;

  --border-radius: 8px;
  --speed: 500ms;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  outline: 0;
  font-size: 62.5%;
}
