.toolbox svg{
    padding: 10px;
}
.toolbox svg{
    border-radius: 20px;
    background-color: rgb(31, 29, 29)
}


.react {
    box-shadow: inset 10px 12px 30px  rgb(83, 137, 187), inset -10px -10px 20px #61DBFB ;

}

.node{
    box-shadow: inset 10px 12px 30px #68A063, inset -10px -10px 20px #3c873A ;
}

.python{
    box-shadow: inset 10px 12px 30px #364fbe, inset -10px -10px 20px #e0d53a ;
}

.rust{
    box-shadow: inset 10px 12px 30px #a85f1b, inset -10px -10px 20px #aa3600 ;
}

.js{
    box-shadow: inset 10px 12px 30px #fcc81c, inset -10px -10px 20px #c9c040 ;

}

.css{
    box-shadow: inset 10px 12px 30px #1b5da8, inset -10px -10px 20px #0004ff ;

}

.html5{
    box-shadow: inset 10px 12px 30px #ee1515, inset -10px -10px 20px #d83620 ;

}

.docker{
    box-shadow: inset 10px 12px 30px #0db7ed, inset -10px -10px 20px #384d54 ;

}

.linux{
    box-shadow: inset 10px 12px 30px #f0da11, inset -10px -10px 20px #384d54 ;

}

.tooltip {
    font-size: 20px !important;
    pointer-events: auto !important;
    border-radius: 10px !important;
   }